// ベースレイアウト
* {
    box-sizing: border-box;
}

.p-lpyaris {
    // ベースを黒くする
    // background-color: #000;
    color: #fff;
    line-height: 1.7;
    @include font;
    @include fontsize(16, "sp");

    @include pc-layout {
        font-size: $fontN + px;
    }

    a {
        @include font;
    }
    //link
    &__link {
        color: #fff;
        &:hover {
            color: #efefef;
        }
    }
    //- .l-cnt__main とほぼ同じ
    &__inner {
        margin: auto;
        width: 100%;
        padding: 0 12px;
        padding: 0 getvw(20, "sp");
        position: relative;
        @include zindex(inner);
        @include pc-variable {
            width: $pc_innner_width / $pc_fix_width * 100%;
        }
        @include pc-layout {
            padding: 0;
            max-width: $pc_innner_width + px;
        }
    }
    &__footnote {
        @include fontsize(12, "sp");
        text-indent: -1em;
        padding-left: 1em;
        @include pc-layout {
            text-align: center;
            font-size: 15.4px;
        }
    }
    &__title {
        line-height: 1.5;
        @include setValue(margin-bottom, 30);
        @include fontsize(30, "sp");
        @include fontBold;
        @include pc-layout {
            font-size: 42px;
            text-align: center;
            margin-bottom: 50px;
        }
        &Guide {
            font-weight: normal;
            font-size: 30px;
            color: $yellow;
            display: block;
            line-height: 1.7;
        }
        &Note {
            display: block;
            font-weight: normal;
            font-size: 24px;
            line-height: 1.7;
        }
    }


    // メンバーシップのボタン
    &__button {
        text-align: center;
        display: block;
        color: #000;
        background-color: $yellow;
        text-align: center;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        padding: getvw(15, "sp") 0 ;
        @include setWidth(300, "sp");
        @include fontsize(15,"sp");
        margin: getvw(45, "sp") auto getvw(10, "sp");
        @include fontBold;
        @include pc-layout {
            padding: 30px 0;
            font-size: 24px;
            width: 600px;
            margin: 60px auto 24px auto;
        }

        &:after {
            content: "";
            position: absolute;
            display: block;
            @include setValue(width, 8, "sp");
            @include setValue(height, 15, "sp");
            @include setValue(right, 20);
            top: 50%;
            transform: translate(0, -50%);
            background: image-url('btn/ico_arrow.svg') center center no-repeat;
            background-size: contain;
            @include pc-layout {
                width: 10px;
                height: 19px;
                right: 20px;
            }
        }

        &:hover {
            opacity: .8;
            color: #000;
        }
    }

    // pc sp 表示管理
    &__show--pc {
        display: none;
        @include pc-layout {
            display: block;
        }
    }
    &__show--sp {
        display: block;
        @include pc-layout {
            display: none;
        }
    }

    &__btnModal {
        cursor: pointer;
        text-decoration: underline;
        color: $white;
        font-weight: bold;
        font-size: 18px;
        &Wrp {
            text-align: center;
        }
    }
}

.footerWrapper {
    background-color: $white;
}