$sp_in_width: 335;
$sp_fix_width: 375;
// $sp_fix_width: 335;

$pc_fix_width: 1008; //break point and 基準
$pc_innner_width: 984; 

$pc_breakpoint: 1000; // sp_breakpoint < 変形 <= pc_breakpoint < 固定
$sp_breakpoint: 835;

// see /src/constants.yml
$img_dir: '/lp/yariscross/assets/img/';


$black: #000;
$white: #fff;
$yellow: #F8D636;
$bgcolor: #2A2A20;
$point: #FFF8D0;
$gray : #ccc;


$hover_time: 0.2s;

$zindexElement: fv_bg,fv_in, sec_bg, inner;


// font size

$fontLL: 42;
$fontL: 24;
$fontM: 20;
$fontN: 18;

$borderHeight: 340px;

$easeAni: cubic-bezier(0.55, 0.085, 0.68, 0.53);// easeInQuad 最初遅く- > 早く // 背景用
$easeAni2:  cubic-bezier(0.165, 0.84, 0.44, 1); // easeOutQuart