extends ./../../../temp/_base
prepend config-block
  - meta.description = "KINTOでお得にヤリスクロスを手に入れよう！「買うよりお得、らしい」KINTOに2020年9月新型クロスオーバーSUV「ヤリスクロス」が新登場。"
  - meta.keywords = "ヤリスクロス, ヤリス, トヨタ, キント, KINTO, サブスク, サブスクリプション, リース, フルサービス, 愛車, コミコミ, 保険, クレジットカード, ポイント, 法人, 頭金なし, 借りる, 安全装備, 正規ディーラー, 気軽, SUV"
  - meta.url = "https://kinto-jp.com/lp/yariscross/"
  - meta.ogp_image_url = "https://kinto-jp.com/lp/yariscross/assets/img/ogp.png"
append config-block
  - title = "KINTOに新型クロスオーバーSUV「ヤリスクロス」が新登場！｜【KINTO】クルマのサブスク、トヨタから"

append stylesheet-block
  link(rel="stylesheet", href="/lp/yariscross/assets/css/yariscross.css")

append javascript-block
  script(type="text/javascript" src="/lp/yariscross/assets/js/yariscross.js")


//- メンバーシップの登録部分
mixin membership
  .p-lpyaris__blockMemeber
    p.p-lpyaris__buttonWrp
      a.p-lpyaris__button(href="/customer/simulation/yariscross/step1") ヤリスクロスのお見積りはこちら
    p.p-lpyaris__footnote 3年/5年/7年各プランで、ヤリスクロスの詳細な見積りシミュレーションが可能です。

block content-block
  //- ヤリスクロスティザーLP コンテンツ
  .p-lpyaris
    section.p-lpyaris__mv
      .p-lpyaris__mvBg
      .p-lpyaris__inner
        .p-lpyaris__inner--mv
          h1.p-lpyaris__mvTitle
            img.p-lpyaris__show--pc(src="./assets/img/mv/txt_title.png", srcset="./assets/img/mv/txt_title.png 1x, ./assets/img/mv/txt_title@2x.png 2x", width="776" , height="185", alt="KINTOに新型クロスオーバーSUV「ヤリスクロス」が新登場!")
            img.p-lpyaris__show--sp(src="./assets/img/mv/txt_title_sp.png", width="320" , height="100", alt="KINTOに新型クロスオーバーSUV「ヤリスクロス」が新登場!")
          p.p-lpyaris__mvDebut
            img(src="./assets/img/mv/txt_debut.png", width="342" , height="80", alt="2020年9月初旬 DEBUT予定")
        p.p-lpyaris__mvCar
          img(src="./assets/img/mv/img_car.png", width="623" , height="415", alt="")

    // KINTOの特徴
    section.p-lpyaris__kinto.p-lpyaris__bdbg--left.p-lpyaris__section--odd.js-lpyarisFadeIn
      .p-lpyaris__inner.p-lpyaris__kintoInnerFirst
        p.p-lpyaris__titlefootnote ※掲載の月額利用料は、最安値グレード・パッケージ、追加オプション選択無し、7年契約、ボーナス月加算110,000円（税込）の場合
        h2.p-lpyaris__title KINTOでお得に<br>ヤリスクロスを手に入れよう！
        p.p-lpyaris__specIntro 「買うよりお得、らしい」KINTOに新型クロスオーバーSUV<br>「ヤリスクロス」が新登場。

      .p-lpyaris__inner
        h2.p-lpyaris__title
          |KINTOの特徴
          span.p-lpyaris__titleGuide About KINTO
        .p-lpyaris__kintoBlock
          p.p-lpyaris__kintoBlock__img
            img(src="./assets/img/kinto/img_kinto01.png", width="320" , height="110", alt="頭金0円、コミコミ定額")
          .p-lpyaris__kintoBlock__con
            p.p-lpyaris__kintoBlock__hdg 頭金0円、コミコミ定額
            p.p-lpyaris__kintoBlock__txt 月額費用には、車両代以外に充実の自動車保険、メンテナンス料、車検、税金等が含まれます。支払いもクレジットカード（個人契約のみ）だから、ポイントが貯まってお得。<br>※車検は5年/7年プランのみ<br>※法人名義でのご契約の場合、お支払いは口座引落しとなります

        .p-lpyaris__kintoBlock
          p.p-lpyaris__kintoBlock__img
            img(src="./assets/img/kinto/img_kinto02.png", width="320" , height="108", alt="WEBで契約まで完了")
          .p-lpyaris__kintoBlock__con
            p.p-lpyaris__kintoBlock__hdg WEBで契約まで完了
            p.p-lpyaris__kintoBlock__txt スマホやパソコンから24時間いつでもお申込み・ご契約まで可能です。<br>お店に行くのはクルマを受け取る時のみです。

        .p-lpyaris__kintoBlock
          p.p-lpyaris__kintoBlock__img
            img(src="./assets/img/kinto/img_kinto03.png", width="320" , height="159", alt="気軽に乗り換え可能")
          .p-lpyaris__kintoBlock__con
            p.p-lpyaris__kintoBlock__hdg 気軽に乗り換え可能
            p.p-lpyaris__kintoBlock__txt 契約プランは3年/5年/7年から。契約途中でも、一定期間経過後は乗り換え可能。あなたの趣向や生活に合わせ気軽にクルマを変更できます。<br>※乗り換えには別途所定の手数料が必要です
        //- メンバーシップ登録
        .lpyaris__inner
          +membership

    // ヤリスクロスを手に入れよう！
    section.p-lpyaris__spec
      .p-lpyaris__specInnerTitle.p-lpyaris__section--even.p-lpyaris__bdbg--right.js-lpyarisFadeIn
        .p-lpyaris__inner
          h2.p-lpyaris__title
            |ヤリスクロスの特徴
            span.p-lpyaris__titleGuide Feature
      .p-lpyaris__specBlock.p-lpyaris__specBlock--01.js-lpyarisFadeIn
        .p-lpyaris__specBlock__inner.p-lpyaris__inner
          .p-lpyaris__specBlock__content
            h3.p-lpyaris__specBlock__hdg
              span.p-lpyaris__specBlock__hdgNo 01
              |力強い<br>プロポーション
            p.p-lpyaris__specBlock__txt 18インチ（Gグレードは16インチ）の大径タイヤでアウトドアテイストを出しながらも洗練されたデザイン！
            p.p-lpyaris__specBtnWrp
              a.p-lpyaris__specButton(href="#comparison") 類似車種との比較はこちら
          .p-lpyaris__specBlock__img
            img(src="./assets/img/spec/img_spec01.png", srcset="./assets/img/spec/img_spec01.png 1x, ./assets/img/spec/img_spec01@2x.png 2x", width="700" , height="439", alt="ヤリスクロス")
      .p-lpyaris__specBlock.p-lpyaris__specBlock--02.p-lpyaris__section--odd.p-lpyaris__bdbg--right.js-lpyarisFadeIn
        .p-lpyaris__specBlock__inner.p-lpyaris__inner
          .p-lpyaris__specBlock__content
            h3.p-lpyaris__specBlock__hdg
              span.p-lpyaris__specBlock__hdgNo 02
              |たっぷり<br>積める
            p.p-lpyaris__specBlock__txt 荷室容量は「390L（デッキボード下含む）」とコンパクトSUVトップクラス

            p.p-lpyaris__specBtnWrp
              a.p-lpyaris__specButton(href="#comparison") 類似車種との比較はこちら

          .p-lpyaris__specBlock__img
            img.p-lpyaris__show--pc(src="./assets/img/spec/img_spec02.png", srcset="./assets/img/spec/img_spec02.png 1x, ./assets/img/spec/img_spec02@2x.png 2x", width="598" , height="415", alt="荷室")
            img.p-lpyaris__show--sp(src="./assets/img/spec/img_spec02_sp.png", alt="荷室")

      .p-lpyaris__specBlock.p-lpyaris__specBlock--03.p-lpyaris__section--even.p-lpyaris__bdbg--left.js-lpyarisFadeIn
        .p-lpyaris__specBlock__inner.p-lpyaris__inner
          .p-lpyaris__specBlock__content
            h3.p-lpyaris__specBlock__hdg
              span.p-lpyaris__specBlock__hdgNo 03
              |コンパクトSUVトップクラスの低燃費
            p.p-lpyaris__specBlock__txt
              |コンパクトSUVの中でもトップクラスの低燃費性能を実現した「1.5L ハイブリッドエンジン」<br>
              |30.2km/L <span class="p-lpyaris__specBlock__txtFootnote">※WLTCモード 燃費消費率(国土交通省審査値)*</span><br>
            p.p-lpyaris__specBlock__txt
              |快適な走りと低燃費の両方を叶える「1.5L ガソリンエンジン」<br>
              |19.8km/L <span class="p-lpyaris__specBlock__txtFootnote">※WLTCモード 燃費消費率(国土交通省審査値)*</span><br>
            ul.p-lpyaris__specBlock__txtNote
              li *KINTO取扱いグレードにおける最高値となります。<br>
              li *燃料消費率は定められた試験条件のもとでの値です。お客様の使用環境（気象、渋滞等）や運転方法（急発進、エアコン使用等）に応じて燃料消費率は異なります。<br>
              li *WLTCモードは、市街地、郊外、高速道路の各走行モードを平均的な使用時間配分で構成した国際的な走行モードです。市街地モードは、信号や渋滞等の影響を受ける比較的低速な走行を想定し、郊外モードは、信号や渋滞等の影響をあまり受けない走行を想定、高速道路モードは、高速道路等での走行を想定しています。

            p.p-lpyaris__specBtnWrp
              a.p-lpyaris__specButton(href="#comparison") 類似車種との比較はこちら
          .p-lpyaris__specBlock__img
            img(src="./assets/img/spec/img_spec03.png", srcset="./assets/img/spec/img_spec03.png 1x, ./assets/img/spec/img_spec03@2x.png 2x", width="532" , height="377", alt="エンジン")
            p.p-lpyaris__specBlock__imgFootnote ※画像は 1.5L ダイナミックフォースエンジン<br>　（直列3気筒1.5L直噴エンジン）です。

      .p-lpyaris__inner
        .p-lpyaris__btnModalWrp
          a.p-lpyaris__btnModal(href="./assets/pdf/yariscross_list.pdf" target="_blank")
            | グレード別比較表はこちら
        //- メンバーシップ登録
        +membership

    // お見積り例
    section.p-lpyaris__estimate.p-lpyaris__bdbg--right.p-lpyaris__section--odd.js-lpyarisFadeIn
      .p-lpyaris__inner
        h2.p-lpyaris__title
          |お見積り例
          span.p-lpyaris__titleGuide Estimate
        p.p-lpyaris__estimateSubGuide 実際の見積り例をご紹介
        .p-lpyaris__estimateBlock
          .p-lpyaris__estimateImage.p-lpyaris__estimateBlockItem
            img(src="./assets/img/est/img_est.png", srcset="./assets/img/est/img_est.png 1x, ./assets/img/est/img_est@2x.png 2x", width="" , height="", alt="一般的な車のグラフ")
          dl.p-lpyaris__estimateData.p-lpyaris__estimateBlockItem
            dt.p-lpyaris__estimateDataHd 車
            dd.p-lpyaris__estimateDataTx ヤリスクロス
            dt.p-lpyaris__estimateDataHd グレード
            dd.p-lpyaris__estimateDataTx G GAS 1.5L 2WD
            dt.p-lpyaris__estimateDataHd カラー
            dd.p-lpyaris__estimateDataTx プラスゴールドメタリック
            dt.p-lpyaris__estimateDataHd 契約期間
            dd.p-lpyaris__estimateDataTx 7年
            dt.p-lpyaris__estimateDataHd ボーナス月加算
            dd.p-lpyaris__estimateDataTx 110,000円(税込)×14回
            dt.p-lpyaris__estimateDataHd コミコミ内容
            dd.p-lpyaris__estimateDataTx 車両代・オプション・税金・自動車保険(車両保険コミ)・メンテナンス・車検等
        p.p-lpyaris__estimatePrice
          img(src="./assets/img/est/img_price.png", srcset="./assets/img/est/img_price.png 1x, ./assets/img/est/img_price@2x.png 2x", width="" , height="", alt="車検・任意保険もコミコミ 月額21,010円(税込)〜")
        +membership

    // ヤリスクロス×KINTOがお得な理由
    section.p-lpyaris__reason.p-lpyaris__bdbg--right.p-lpyaris__section--even.js-lpyarisFadeIn
      .p-lpyaris__inner
        h2.p-lpyaris__title
          |ヤリスクロス×<br class="p-lpyaris__show--sp">KINTOがお得な理由
          span.p-lpyaris__titleGuide Reason for profit
        .p-lpyaris__reasonBlock
          .p-lpyaris__reasonItem.p-lpyaris__reasonItem--normal
            p.p-lpyaris__reason__hdg 一般的な車
            p.p-lpyaris__reason__img
              img(src="./assets/img/reason/img_reason_normal.png", width="" , height="", alt="一般的な車のグラフ")
            p.p-lpyaris__reason__graf
              img.p-lpyaris__show--pc(src="./assets/img/reason/img_reason_normal_grh.png", srcset="./assets/img/reason/img_reason_normal_grh.png 1x, ./assets/img/reason/img_reason_normal_grh@2x.png 2x", width="" , height="", alt="一般的な車のグラフ")
              img.p-lpyaris__show--sp(src="./assets/img/reason/img_reason_normal_grh_sp.png", width="" , height="", alt="一般的な車のグラフ")
            //- p.p-lpyaris__reason__itemtxt 月々のお支払いに含まれるもの：<br>車両代、税金、保険、メンテナンス費用など

          .p-lpyaris__reasonItem.p-lpyaris__reasonItem--yarisuc
            p.p-lpyaris__reason__hdg ヤリスクロス
            p.p-lpyaris__reason__img
              img(src="./assets/img/reason/img_reason_yarisuc.png", width="" , height="", alt="ヤリスクロスのグラフ")
            p.p-lpyaris__reason__graf
              img.p-lpyaris__show--pc(src="./assets/img/reason/img_reason_yarisc_grh.png", srcset="./assets/img/reason/img_reason_yarisc_grh.png 1x, ./assets/img/reason/img_reason_yarisc_grh@2x.png 2x", width="" , height="", alt="ヤリスクロスのグラフ")
              img.p-lpyaris__show--sp(src="./assets/img/reason/img_reason_yarisc_grh_sp.png", width="" , height="", alt="ヤリスクロスのグラフ")
            //- p.p-lpyaris__reason__itemtxt 残価が高い分、月々のご負担額がお得！
        .p-lpyaris__reason__txt
          p.p-lpyaris__reason__itemtxt 残価が高い分、月々のご負担額がお得！
          p.p-lpyaris__reason__footnote ※月々のお支払いに含まれるもの：車両代、税金、保険、メンテナンス費用など
          p
            |ヤリスクロスに乗るなら実はKINTOがお得だって知っていますか？<br>
            |KINTOの月額料金は残価（契約期間終了後のクルマの価値）が高ければ高いほどお得になります！<br>
            |ヤリスクロスなどのSUVは比較的残価が高いのでお得な月額料金で乗れちゃうんです！

        .p-lpyaris__blockMemeber
          p.p-lpyaris__buttonWrp
            a.p-lpyaris__button(href="#comparison") 他SUV車との徹底比較をみる
          p.p-lpyaris__footnote ヤリスクロスだけではなくKINTOには魅力的でお得なSUVが豊富です。こちらも合わせてご検討ください。

    // 魅力のSUVラインアップ
    section.p-lpyaris__lineup.p-lpyaris__bdbg--right.p-lpyaris__section--odd.js-lpyarisFadeIn
      .p-lpyaris__inner
        h2.p-lpyaris__title
          |魅力の<br class="p-lpyaris__show--sp">SUVラインアップ
          span.p-lpyaris__titleNote ※3年プラン・最安値グレード・追加オプション無し・ボーナス払い無しの場合
        .p-lpyaris__lineup_cars
          .p-lpyaris__lineup_car
            p.p-lpyaris__lineup_car__hdg LAND CRUISER
            p.p-lpyaris__lineup_car__sub SUVの頂点に立つ風格と存在感
            p.p-lpyaris__lineup_car__img
              img(src="./assets/img/lineup/img_lineup_land.png", srcset="./assets/img/lineup/img_lineup_land.png 1x, ./assets/img/lineup/img_lineup_land@2x.png 2x", width="" , height="", alt="LAND CRUISER")
            p.p-lpyaris__lineup_car__price
              |月額
              spna.p-lpyaris__lineup_car__priceNum 88,000
              |円 (税込) 〜
            p.p-lpyaris__lineup_car__detail
              a.p-lpyaris__link(href="https://kinto-jp.com/customer/simulation/landcruiser/step1") ランドクルーザーの詳細はこちら
        
          .p-lpyaris__lineup_car
            p.p-lpyaris__lineup_car__hdg HARRIER
            p.p-lpyaris__lineup_car__sub エレガントで洗練されたスタイリング
            p.p-lpyaris__lineup_car__img
              img(src="./assets/img/lineup/img_lineup_harrier.png", srcset="./assets/img/lineup/img_lineup_harrier.png 1x, ./assets/img/lineup/img_lineup_harrier@2x.png 2x",  width="" , height="", alt="HARRIER")
            p.p-lpyaris__lineup_car__price
              |月額
              spna.p-lpyaris__lineup_car__priceNum 61,600
              |円 (税込) 〜
            p.p-lpyaris__lineup_car__detail
              a.p-lpyaris__link(href="https://kinto-jp.com/customer/simulation/harrier/step1") ハリアーの詳細はこちら

          .p-lpyaris__lineup_car
            p.p-lpyaris__lineup_car__hdg RAIZE
            p.p-lpyaris__lineup_car__sub コンパクトSUVながら堂々とした存在感
            p.p-lpyaris__lineup_car__img
              img(src="./assets/img/lineup/img_lineup_raize.png", srcset="./assets/img/lineup/img_lineup_raize.png 1x, ./assets/img/lineup/img_lineup_raize@2x.png 2x",  width="" , height="", alt="RAIZE")
            p.p-lpyaris__lineup_car__price
              |月額
              spna.p-lpyaris__lineup_car__priceNum 39,820
              |円 (税込) 〜
            p.p-lpyaris__lineup_car__detail
              a.p-lpyaris__link(href="https://kinto-jp.com/customer/simulation/raize/step1") RAIZEの詳細はこちら

          .p-lpyaris__lineup_car
            p.p-lpyaris__lineup_car__hdg RAV4
            p.p-lpyaris__lineup_car__sub 力強くタフなSUVらしいフォルム
            p.p-lpyaris__lineup_car__img
              img(src="./assets/img/lineup/img_lineup_rav4.png", srcset="./assets/img/lineup/img_lineup_rav4.png 1x, ./assets/img/lineup/img_lineup_rav4@2x.png 2x",  width="" , height="", alt="RAV4")
            p.p-lpyaris__lineup_car__price
              |月額
              spna.p-lpyaris__lineup_car__priceNum 62,480
              |円 (税込) 〜
            p.p-lpyaris__lineup_car__detail
              a.p-lpyaris__link(href="https://kinto-jp.com/customer/simulation/rav4/step1") RAV4の詳細はこちら

          .p-lpyaris__lineup_car
            p.p-lpyaris__lineup_car__hdg C-HR
            p.p-lpyaris__lineup_car__sub 先進的かつ個性的な目を引くデザイン
            p.p-lpyaris__lineup_car__img
              img(src="./assets/img/lineup/img_lineup_chr.png", srcset="./assets/img/lineup/img_lineup_chr.png 1x, ./assets/img/lineup/img_lineup_chr@2x.png 2x",  width="" , height="", alt="C-HR")
            p.p-lpyaris__lineup_car__price
              |月額
              spna.p-lpyaris__lineup_car__priceNum 52,800
              |円 (税込) 〜
            p.p-lpyaris__lineup_car__detail
              a.p-lpyaris__link(href="https://kinto-jp.com/customer/simulation/c-hr/step1") C-HRの詳細はこちら

          .p-lpyaris__lineup_car.p-lpyaris__lineup_car--disabled
            p.p-lpyaris__lineup_car__hdg LAND CRUISER PRADO
            p.p-lpyaris__lineup_car__sub 大自然にも都市にも映えるフォルム
            p.p-lpyaris__lineup_car__img
              img(src="./assets/img/lineup/img_lineup_prado.png", srcset="./assets/img/lineup/img_lineup_prado.png 1x, ./assets/img/lineup/img_lineup_prado@2x.png 2x",  width="" , height="", alt="RAIZE")
            p.p-lpyaris__lineup_car__handling LAND CRUISER PRADOの取り扱いは<br>現在停止しております
        //- メンバーシップ登録
        +membership

    // 徹底比較
    section.p-lpyaris__com.p-lpyaris__bdbg--left.p-lpyaris__section--even.js-lpyarisFadeIn#comparison
      .p-lpyaris__inner
        h2.p-lpyaris__title
          |ヤリスクロス×他SUV車 徹底比較
          span.p-lpyaris__titleGuide Comparison

        p.p-lpyaris__comVisual
          img(src="./assets/img/com/img_com_yas.png", srcset="./assets/img/com/img_com_yas.png 1x, ./assets/img/com/img_com_yas@2x.png 2x", width="" , height="", alt="ヤリスクロス")
        p 現在KINTOでは6種類のSUVを取り扱っています（一部車種は取扱い停止中のものもございます）。<br class="p-lpyaris__show--sp">今回はその6種類のうち、ヤリスクロスと比較されることの多い3車種について徹底比較します！
        .p-lpyaris__comBlock
          h3.p-lpyaris__comBlock__hdg ボディーサイズ
          p.p-lpyaris__comBlock__img
            img(src="./assets/img/com/img_com_body.png", srcset="./assets/img/com/img_com_body.png 1x, ./assets/img/com/img_com_body@2x.png 2x" width="" , height="", alt="ボディーサイズ比較")
          p.p-lpyaris__com__txt ヤリスクロスは力強いデザインながらもコンパクトサイズで運転もしやすいクルマです！

        .p-lpyaris__comBlock
          h3.p-lpyaris__comBlock__hdg 燃費の良さを比較
          p.p-lpyaris__comBlock__img
            img(src="./assets/img/com/img_com_nenpi.png", srcset="./assets/img/com/img_com_nenpi.png 1x, ./assets/img/com/img_com_nenpi@2x.png 2x" width="" , height="", alt="燃費の良さを比較")
          p.p-lpyaris__com__txt ヤリスクロスはSUVの中でもトップクラスの低燃費！HVグレードもあり、ガソリン代をかなり抑えることができるクルマです！

        .p-lpyaris__comBlock
          h3.p-lpyaris__comBlock__hdg 荷室の広さを比較
          p.p-lpyaris__comBlock__img
            img(src="./assets/img/com/img_com_size.png", srcset="./assets/img/com/img_com_size.png 1x, ./assets/img/com/img_com_size@2x.png 2x" width="" , height="", alt="荷室の広さを比較")
          p.p-lpyaris__com__txt ヤリスクロスはコンパクトSUVの中ではトップクラスの荷室容量なので荷物をたくさん積んでのお出かけにも最適です！
        
        //- .p-lpyaris__video.
        //-   <iframe width="560" height="315" src="https://www.youtube.com/embed/wH368jmmpLk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    section.p-lpyaris__bannerWrp.p-lpyaris__bdbg--left.p-lpyaris__section--odd.js-lpyarisFadeIn
      .p-lpyaris__inner
        p.p-lpyaris__banner
          a.p-lpyaris__bannerLink(href="https://kinto-jp.com/contents/column/20200729-1.html")
            img(src="./assets/img/bnr/bnr_ft.png", width="900" , height="200", alt="新型車「ヤリスクロス」を徹底解剖！新型コンパクトSUV「ヤリスクロス」の気になる特徴は？")

        //- メンバーシップ登録
        +membership
