.p-lpyaris__banner {
    &Wrp {
        @include setValue(padding-top, 100, "sp");
        @include setValue(padding-bottom, 50, "sp");
        @include pc-layout {
            padding-top: 300px;
            padding-bottom: 150px;
        }
    }
    @include img100;
    img {
        margin: 0 auto;
    }
    &Link {
        background-color: #fff;
        display: block;
        img {
            transition: opacity .2s;
        }
        &:hover {
            img {
                opacity: 0.75;
            }
        }
    }
}


// video
.p-lpyaris__video {
    width: 100%;
    padding-top: 45.75%;//(360/640*100%);
    position: relative;
    @include setValue(margin-top, 24, "sp");
    @include pc-layout {
        width: 800px;
        margin: 136px auto 0;
    }

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}