
// 徹底比較
.p-lpyaris__com {
    @include setValue(padding-top, 130);
    padding-bottom: 1px; // bannerが無いので
    @include pc-layout {
        padding-top: ($borderHeight / 1.3);
    }
    &Visual {
        text-align: center;
        @include img100;
        img {
            width: 95%;
            margin: 0 auto;
        }
        @include pc-layout {
            img {
                width: auto;
            }
        }
    }
    &Block {
        @include setValue(margin-bottom, 40, "sp");
        @include setValue(margin-top, 40, "sp");
        @include pc-layout {
            margin-bottom: 80px;
            margin-top: 80px;
        }
    }
    &Block__hdg {
        @include fontBold;
        @include fontsize(20, "sp");
        @include setValue(margin-bottom,25, "sp");
        @include pc-layout {
            margin-bottom: 50px;
            font-size: 30px;
            text-align: center;
        }
    }
    &Block__img {
        margin-bottom: 30px;
        @include img100;
    }
}