.p-lpyaris__titlefootnote {
    @include setValue(font-size, 11, "sp");
    @include setValue(margin-bottom, 40, "sp");
    @include pc-layout{
        font-size: 14px;
        margin-bottom: 80px;
    }
}
.p-lpyaris__kinto {
    background-color: $black;
    position: relative;
    @include setValue(padding-top, 90);
    @include pc-layout {
        padding-top: 20px;
    }
    &:before {
        display: none!important;
        padding-top: 0;
    }
    &:after {
        background-color: $black!important;
    }

    // title
    &InnerFirst {

        @include setValue(margin-bottom, 96);
        @include pc-layout {
            margin-bottom: 110px;
        }
    }
    &Block {
        border: 8px solid $white;
        padding: getvw(30, "sp") getvw(15, "sp");
        @include setValue(margin-bottom,38);
        @include pc-layout {
            padding: 50px 24px 50px 352px;
            margin-bottom: 30px;
            position: relative;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__img {
            @include img100;
            @include setValue(margin-bottom, 40, "sp");
            @include pc-layout {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        &__hdg {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 4px;
        }
    }
}
