.p-lpyaris__reason {
    @include setValue(padding-top, 100);
    @include pc-layout {
        padding-top: $borderHeight;
    }
    &Block {
        @include pc-layout {
            display: flex;
            justify-content: space-between;
        }
    }
    &Item {
        text-align: center;
        @include setValue(margin-top, 40);
        @include pc-layout {
            margin-top: 0;
            width: 471px;
        }
        @include pc-variable {
            //47.86585%
            //46.72619vw
            // @include setWidth(471);
            width: 47.86585%;
            // @include setValue(width, 471);

        }
        // 一般的な車
        &--normal {
            .p-lpyaris__reason__graf {
                position: relative;
                @include pc-layout {
                    &:after {
                        display: block;
                        content: "";
                        position: absolute;
                        width: 42px;
                        height: 153px;
                        background: image-url('reason/img_reason_grafline.png') center center no-repeat;
                        background-size: contain;
                        bottom: 0;
                        right: -42px;
                    }
                }
            }
        }
        // ヤリスクロス
        &--yarisuc {
            @include setValue(padding-top, 30);
            @include setValue(margin-top, 30);
            border-top: 1px solid $gray;
            @include pc-layout {
                padding-top: 0;
                margin-top: 0;
                border-top: none;
            }
        }

    }
    &__hdg {
        @include fontBold;
        @include pc-layout {
            font-size: $fontL+px;
        }
    }
    &__img {
        @include setValue(margin-bottom, 30);
        @include setValue(margin-top, 30);
        @include pc-layout {
            margin: 80px 0;
        }
        img {
            display: block;
            width: 70%;
            margin: 0 auto;
            @include pc-layout {
                width: auto;
            }
        }
    }
    &__graf {
        @include img100;
        @include setValue(margin-bottom, 12, "sp");
        @include pc-layout {
            margin-bottom: 16px;
            img {
                width: 100%;
            }
        }
    }
    &__itemtxt {
        @include fontBold;
        text-align: center;
        @include pc-layout {
            font-size: $fontL + px;
        }
    }
    &__footnote {
        @include fontsize(12,"sp");
        @include setValue(margin-top, 20, "sp");
        @include setValue(margin-bottom, 20, "sp");

        @include pc-layout {
            font-size: 12px;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
    &__txt {
        @include pc-layout {
            font-size: $fontM + px;
        }
    }
}