.p-lpyaris__spec {
    // モーダル用のボタン
    // 普通のリンクに変更
    background-color: $black;
    @include setValue(padding-top, 30, "sp");
    @include pc-layout {
        padding-top: 50px;
    }

    &BtnWrp {
        @include setValue(margin-bottom, 50);
        @include pc-layout {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
    &Button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        text-decoration: underline;
        color: #fff;
        &:hover {
            color: #ccc;
        }
        @include pc-layout {
            font-size: 16px;
        }
    }

    &Block {
        &--01 {
            @include setValue(padding-top, 87);
            @include pc-layout {
                padding-top: ($borderHeight / 2);
            }
            .p-lpyaris__specBlock__img {
                @include pc-layout {
                    left: -21%;
                }
            }
            .p-lpyaris__specBlock__content {
                @include pc-layout {
                    margin-left: auto;
                }
            }
        }
        &--02 {
            @include setValue(padding-top, 130);
            @include setValue(padding-bottom, 40);

            @include pc-layout {
                padding-top: $borderHeight;
                padding-bottom: 0;
            }
            .p-lpyaris__specBlock__img {
                @include pc-layout {
                    margin-top: -60px;
                    left: 50%;
                }
            }
        }
        &--03 {
            @include setValue(padding-top, 100);
            @include pc-layout {
                // padding-top: ($borderHeight / 2);
                padding-top: 230px;
                margin-bottom: 200px;
            }
            &:before {
                background: image-url('bg/back_g_l.png') left top no-repeat;
                background-size: 100% 100%;
            }
            .p-lpyaris__specBlock__content {
                margin-left: auto;
            }
            .p-lpyaris__specBlock__img {
                left: -9%;
            }
        }
    }
    &Block__inner {
        position: relative;
        margin: auto;
        @include zindex(inner);

    }
    &Block__content {
        @include pc-layout{
            width: 50%;
            padding-left: 60px;
        }
    }
    &Block__img {
        @include img100;
        @include pc-layout {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &Block__hdg {
        position: relative;
        @include fontBold;
        @include fontsize(30,"sp");
        @include setValue(padding-left, 100,"sp");
        @include setValue(margin-bottom, 30,"sp");
        @include pc-layout {
            font-size: $fontLL + px;
            padding-left: 120px;
            margin-bottom: 20px;
        }
    }
    &Block__hdgNo {
        color: $point;
        @include fontEisu;
        font-weight: normal;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        @include fontsize(90, "sp");
        @include pc-layout {
            font-size: 130px;
            left: -20px;
        }
    }
    &Intro {
        @include pc-layout {
            text-align: center;
        }
    }
}